.course-discuss-container{

}
.course-discuss-container .comment-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.course-discuss-container .comment-box .comment-content{
    flex: 1;
    margin-left: 10px;
}
.course-discuss-container .comment-box .comment-content .btn-comment{
    margin-top: 10px;
    text-align: right;
}

ul.course-discuss-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.course-discuss-list .course-discuss-item {
    display: flex;
    align-items: center;
}
.course-discuss-left{
    align-self: flex-start;
}
.course-discuss-right{
    padding-left: 10px;
    flex: 1;
}
.username-discuss{
    color: #000;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}
.discuss-info{
    color: gray;
    font-size: 14px;
}
.discuss-reaction{
    margin-top: 10px ;
}
.discuss-reaction span {
    margin: 0 5px;
    color: gray;
    cursor: pointer;
}
.discuss-reaction span:hover{
    color: #000;
    transition: color 0.4s;
}
