

.login-box{
    width: 500px;
    left:50% !important;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 15;
    position: fixed;
    border-radius: 10px;
    padding:40px 0;
    align-self: center;
}
.login-box h3{
    font-size : 20px;
    color:#29303b;
    text-align: center;
}
.login-box .form-login{
    padding: 10px 20px 10px 40px;
    
}
.form-login div{
    margin-top: 20px;
    align-items: center;
    vertical-align: middle;
    border: none;
    text-align: center;
}
.form-login input{
    height: 38px;
    align-self: center;
    vertical-align: middle;
    background-color: transparent;
    width:400px;
    transform: translateX(-25px);
    border:solid 1px #29303b59;
    border-radius: 5px;
    padding-left:30px;
}
.form-login input::placeholder{
    padding-left:0px
}

.form-login button.btn-login{
    margin-left:-27px;
    font-weight: 600;
    border: solid 1px #ec5252 !important;
    width:400px;
    background-color: #ec5252;
    color:white;
}
.form-login button.btn-login:hover{
    color:black;
    transition: all 0.5s;
}

.login-box div.alert {
    width:80%;
    margin:auto;
    margin-top: 15px;
}
@media screen and (max-width:1000px){
    .login-box{
        left:20%;
    }
}

@media screen and (max-width:700px)
{
    
    .login-box{
        width:420px;
        left:10%;
    }
    .form-login input{
        width:310px;
    }
    .form-login button.btn-login{
        width:310px;
    }
}
@media screen and (max-width:500px)
{
    .login-box{
        left:0;
        width:100%;
    }
    .form-login input{
        width:260px;
    }
    .form-login button.btn-login{
        width:260px;
    }
    .login-box .form-login{
        padding:10px 0 10px 15px;
    }
}