.forgot-password {
    background-image: linear-gradient(to right,#9D50BB , #6E48AA );
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.forgot-password div.form-group{
    position: fixed;
    z-index: 2;
    width: 400px ;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding:  20px;
    border-radius: 6px;
    overflow: hidden;
    
}
.forgot-password h3{
    text-align: center;
    color: #6c796f;

}
 
input.form-control{
    margin-top: 10px;
}
.input-margin{
    transition: all 0.3s;
}