.course-card{
    width:220px;
    overflow: hidden;
    border: solid 1px #cccccc;
   
    cursor: pointer;
    margin-right: 10px;
}
.course-card:hover{
    transition: all 0.4s;
    box-shadow: 0 0 1px 3px rgba(20,23,28,.1), 0 3px 3px 0 rgba(20,23,28,.1);
}

.course-card .course-card-top{
   position: relative;
}
.course-card .course-card-top img{
    width: 220px;
    height: 122px;
    object-fit: cover;
    transition: all 0.4s;
}
.course-card:hover .thumbnail-wraper{
    transition: all 0.3s;
    background-color: rgba(0,10,40,0.3);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.label-course{
    position: absolute;
    top:10px;
    left:0;
}
.course-card-bot{
    padding: 10px 15px;
}
.course-card-bot h5{
    color: #29303be8;
    font-size: 18px;
}
.course-card-bot p{
    color: #212529b3;
    font-size: 14px;
}
.price-old{
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 14px;
    
}
.price-new{
    font-size: 18px;
    font-weight: 600;
}
.star-ratings{
    vertical-align: text-bottom;
}