.profile-container{
    border:solid 1px #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.profile-container ul.profile-tab{
    list-style: none;
    flex: 1;
    padding: 0;
    border-right: solid 1px #cccccc;
    margin: 0;
}
.profile-container ul.profile-tab li{
    color: #007791;
    text-align: left;
    padding : 10px;
    cursor: pointer;
    
}
.profile-container ul.profile-tab li:hover{
    background-color: #cccccc;
}
.tab-active{
    background: #cccccc;
}

.profile-tab-content{
    flex: 4;
    padding: 20px 30px;
}
.profile-tab-content label {
    margin-bottom: 2px;
}
.profile-tab-content .form-control {
    margin-bottom: 15px;
}
.profile-tab-content h3{
    text-align: center;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 15px;
    font-size: 20px;
}

.profile-avt {
    padding: 10px;
    text-align: center;
}
.profile-avt img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-avt p{
    margin-top: 10px;
    font-weight: 600;
}
.my-courses{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media screen and (max-width: 600px){
    .profile-container{
        flex-direction: column;
        width: 100%;
        border: none;
    }
    .profile-tab-content{
        justify-content: center;
        padding: 0;
        align-items: center;
    }
    .profile-container ul.profile-tab li{
        text-align: center;
        padding: 4px;
    }
    .profile-tab-content{
        padding: 8px 12px;
    }
    .my-courses{
        justify-content: center;
    }
}
