.course-card-teaching{
    width: 100%;
    height: 100%;
    position: relative;
    border: solid 1px #ccc;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.3s;
   
}
.thumbnail-card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
   
}
.thumbnail-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
  
}
.thumbnail-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(57,57,60);
    background: linear-gradient(0deg, rgba(57,57,60,1) 0%, rgba(1,1,1,0) 36%, rgba(208,224,227,0) 100%);
}
.course-card-teaching:hover .thumbnail-card img{
    transform: scale(1.1);
}
.course-card-teaching .info{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    bottom: 0;
}
.course-card-teaching .info h5{
    color:white;
    font-size: 17px;
}
.course-card-teaching .overlay{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.course-card-teaching .overlay span{
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.course-card-teaching .overlay span:hover{
    transform: scale(1.1);
}
.course-card-teaching:hover .overlay{
    opacity: 1;
     z-index: 1;
     transition: all 0.3s;
}

