.course-teaching-container{
    width: 90%;
    margin: auto;
}
.course-teaching-head{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.course-teaching-head-right{
    display: flex;
}
.list-card-teaching{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item-teaching{
    padding: 5px;
    width: 25%;
    height: 285px;
}


@media screen and (max-width: 1100px ){
    .item-teaching{
        width: calc(100%/3);
    }
}
@media screen and (max-width: 700px ){
    .item-teaching{
        width: calc(100%/2);
    }
}
@media screen and (max-width: 500px ){
    .item-teaching{
        width: 100%;
    }
    .course-teaching-container{
        width: 100%;
      
    }
}