.lecture-container{
    margin-top: 40px;
    display: flex;

}
.lecture-container .lecture-video{
    width: 75%;
}
.lecture-container .lecture-table-content{
    width: 25%;
}
.lecture-tab{
    width:75%;
}

@media screen and (max-width: 800px ){
    .lecture-container .lecture-video{
        width:100%;
    }
    .lecture-tab{
        width:100%;
    }
}