.collapse-lesson-container h3{
  padding: 10px 25px;

}
div.collapse-content{
    border: solid 1px #cccccc;
    margin-bottom: 2px;
    background-color: #f7f8fa;
    position: relative;
    overflow: hidden;
    width: 100%;
}

div.collapse-content span{
    margin-right: 20px;
    font-size: 14px;
    display: inline-block;
}
div.collapse-content .lesson-title{
    font-weight: 600;
    font-size: 18px;
    padding-left: 30px;
}
.icon-collapse{
    position: absolute;
    right: 0;
    font-size: 25px !important;
    top:3px;
    cursor: pointer;
    color: white;
}
.icon-collapse:hover{
    transition: all 0.3s;
    color: #24674e;
}
div.collapse-item{
    height: 0;
    transition: all 0.4s;
    overflow: hidden;
    position: relative;
}
div.collapse-item > div{
    position: relative;
    background-color: #f2f3f5;
    cursor: pointer;
    padding: 0 0 0 30px;
    font-size: 15px;
}
div.collapse-item > div:hover{
    background-color: #cccccc;
}
.lesson-complete-icon{
    position: absolute;
    right: 0;
    top:30%;
}
.icon-play{
    margin-left:10px;
    color: #8a92a3;
    font-size: 14px;
}
.collapse-content-head{
    cursor: pointer;
    padding: 10px 0;
    color: white;
    background-color: #355488;
}
.collapse-content-head:hover{
    background-color: #273d63;
    transition: all 0.3s;
}

@media screen and (max-width: 600px)
{
    .collapse-lesson-container{
        width:100%;
    }
    div.collapse-content .lesson-title{
        font-size: 15px;
    }
    div.collapse-item > div{
        font-size: 13px;
    }
}