.card-course{
    width: 250px;
    overflow: hidden;
    border: solid 1px #cccccc;
    border-radius: 4px;
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
  
}
.card-course .card-image:hover .icon-play{
    z-index: 1;
    cursor: pointer;
    width: 250px;
}
.card-course .card-image .icon-play{
    overflow: hidden;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    right: 0;
    width:0 ;
    height: 150px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-course .card-image img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.card-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card-info h4{
    font-size: 18px;
    margin-bottom: 0;
}
.card-info p{
    color: #29303b;
}
.icon-star{
    cursor: pointer;
}
.star-active{
    color: #f4c150;
}