.signup-box{
    position: fixed;
    z-index: 11;
    width: 100%;
    text-align: center;
    height: 0;
}
.signup-box .signup-form h3{
    font-size: 20px;
    color: #524e4e;
    padding-bottom: 15px;
    border-bottom: solid 1px #dedfe0;
}
.signup-box .signup-form{
    width: 500px;
    margin: auto;
    border: solid 1px #727f73;
    vertical-align: middle;
    background-color: white;
    z-index: 15;
    padding:20px 20px 25px 15px;
    border-radius: 10px;
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
.signup-form div.form-control{
    border: none;
    margin-top: 15px;
}
.signup-input{
    border:solid 1px #a7a0a0;
    border-radius: 4px;
    width: 80%;
    padding: 5px 0 5px 27px;
}
.icon-signup-form{
    z-index: 11;
    transform: translateX(25px);
    color: #727f73;
}
.btn-signup{
    border: solid 1px #ec5252;
    font-weight: 600;
    background-color: #ec5252;
    color:white;
}
.btn-signup:hover{
    
    transition: all 0.5s;
}
input.input-file{
    margin-top:15px;
    margin-left: -40px;
}
@media screen and (max-width : 500px)
{
    .signup-box .signup-form{
        width:100%;
        padding: 10px 0;
    }
    .signup-input{
        width: 90%;
    }
    input.input-file{
      margin-left: 8px;
    }
}