.drawer{
    width:300px;
    height: 100%;
    z-index: 10;
    border-right: solid 1px slategray;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding:15px;
    color:#505763;
    overflow-y: scroll;
    margin-left: -350px;
    transition: all 0.5s;
}

.avt-thumbnail img{
    width:40px;
    height: 40px;
    border-radius: 50%;

}
.avt-thumbnail{
    margin-right: 10px;
}
.drawer-head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.drawer-head h3{
    font-size:21px;
    color:#505763;
    margin-bottom: 0;
    
}
.drawer-head a:hover{
    text-decoration: none;
}
.drawer-head p{
    font-size:14px;
    margin-top:0;
    font-style: italic;
}

.drawer-section{
    border-bottom: solid 1px #dedfe0;;
}
.label-drawer{
    font-size: 14px;
    font-weight: 600;
    margin-top:10px;
}
.drawer-list{
    list-style: none;
    padding:0;
    margin:0;
}
.drawer-list li{
    padding: 5px 0;
}
.drawer-list li:hover{
    color: #ec5252;
    cursor: pointer;
}
.cart-drawer{
    margin-top:10px;
    cursor: pointer;
}
.cart-drawer:hover{
    color: #ec5252;
}