.header ul.top-nav{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px ;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    position: relative;
    z-index: 8;
    margin-bottom: 0;
}
.header ul.top-nav > li{
    display: inline-block;
    padding:15px;
    cursor: pointer;
    font-weight: 600;
    color:#212529bd;
    position: relative;
}
.header ul.top-nav > li a{
    color: #212529bd;
    
}
.header ul.top-nav > li a:hover{
    text-decoration: none;
    color: #ec5252;
    transition: all 0.3s;
}
.header ul.top-nav li:hover{
    color:#ec5252;
    transition: all 0.3s;
}
.search-top{
    border: 1px solid #bdc4d4;
    background: #fff;
    color:#212529bd;
    height: 35px;
    border-right:none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 25vw;
}
.icon-top-nav{
    font-size:21px;
    transform: translateY(2px);
}
.icon-top-nav:hover{
    color:#ec5252;
}
.icon-search{
    font-size: 18px;
    height: 35px;
    color: #ec5252;
    display: inline-block;
    border:solid 1px #bdc4d4;
    border-left:none;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.icon-search:hover{
    background:#ec5252;
    color:white;
    border:solid 1px #ec5252;
}
.img-logo{
    height:30px;
    width: auto;
}
.user-avt-image{
    width:35px;
    height:35px;
    border-radius: 50%;
    object-fit: cover;
}

.drawer-wraper{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9;
    top:0;
    left:0;
    position: fixed;
    display: none;
}

/*list-item-user*/
.list-item-user{
    position: absolute;
    top:65px;
    right: 15px;
    box-shadow: 0 4px 16px rgba(20,23,28,.25);
    z-index: 10;
    background-color: white;
    padding:0;
    color: #212529bd;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    display: none;
    width: max-content;
}
.list-item-user li{
    list-style-type: none;
    padding: 6px 15px !important;
    width: 100%;
}
.list-item-user a{
    text-decoration: none;
    color: #212529bd;
}
.list-item-user li:hover{
    color:#339cad !important;
    background-color: #989da294;
    transition: all 0.5s;
}
.user-dropdown:hover .list-item-user{
    display: block;
}
/*end*/
/*login btn logout btn*/
button.login-btn{
    border: solid 1px #000000a8;
    margin-right: 5px;
    color: #212529bd;
    font-weight: 600;
}
button.login-btn:hover{
    color: black;
    transition: all 0.5s;
}
button.signup-btn{
    border: solid 1px #ec5252;
    background-color: #ec5252;
    color: white;
    font-weight: 600;
}
/***/
div.wraper-login{
    background-color: rgba(41,48,59,.8);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
/*category-menu*/
ul.list-category-menu{
    position: absolute;
    top: 55px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border: solid 1px #cccccc;
    width: 250px;
    list-style: none;
    padding: 0;
    border-radius: 9px;
    display: none;
    z-index: 5;
}
li.category-top:hover ul.list-category-menu{
    display: block;
}
ul.list-category-menu > li{
   padding: 6px 15px;
    color: #000000bd;
   width: 100%;
}
ul.list-category-menu > li:hover{
    background-color: #c8d6f1 !important;
    color: #00a4b5 !important;
}
/*end*/

@media screen and(min-width:1200px)
{

}
@media screen and (max-width:1200px)
{
    .teaching{
        display: none !important;
    }
}
@media screen and (max-width:950px)
{
    .my-course{
        display: none !important;
    }
    button.signup-btn{
        display: none;
    }

}
@media screen and (max-width:800px)
{
     .favorite, .notification {
        display: none !important;
    }
    .search-top{
        width:35vw;
    }
   
    li.btn-login-signup{
        display: none !important;
    }
    button.login-btn{
        display: none;
    }
}
@media screen and (max-width:700px)
{
    .category-top{
        display: none !important;
    }
   
}
@media screen and (max-width : 600px)
{
   .user-dropdown{
    display: none !important;
   }
    
}
@media screen and (max-width:500px)
{
    .icon-search{
        border:solid 1px #bdc4d4;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .cart{
        display: none !important;
    }
    .search-top{
        display: none;
    }
    .header ul.top-nav{
        justify-content: space-between;
    }
   
}