.exercise-container{
    position: fixed;
    right:0;
    bottom: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    z-index: 15;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    left: 0;
}
.exercise-head{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #cccccc;
    padding: 10px 0;
}
.exercise-head .exercise-title{
    flex-grow: 1;
    text-align: center;
    font-size: 33;
    font-weight: bold;
    text-transform: uppercase;
}
.exercise-head .exercise-close{
    width: 30px;
}
.exercise-head .exercise-close span {
    font-size: 27px;
    color: red;
    cursor: pointer;
}
.exercise-head .exercise-close span:hover{
    color: #b91c1c;
    transition: all 0.3s;
}

.exercise-body{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;

}
.exercise-body .exercise-body-left{
    flex: 1;
}
.exercise-body .exercise-body-right {
    flex: 5;
    padding-right: 20px;
}
.exercise-body .exercise-body-right .exercise-question{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.exercise-body-right .exercise-answer{
    display: none;
}
.exercise-body-right .exercise-answer .list-answer{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.list-answer li{
    text-align: left;
    border: solid 1px #c8d7fa;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
   color: #000;
}
.exercise-answer-active{
    color: white !important;
    background-color: #4c7ef3;
}

ul.list-answer li:hover{
    background-color:#c8d7fa ;
}
.active-step {
    font-size: 120%;
    color: #3f51b5;
}


@media screen and ( max-width: 600px ) {
    .exercise-body .exercise-body-right .exercise-question{
        font-size: 24px;
    }
    .MuiStepper-root{
        padding: 24px 8px !important;
    }
    .exercise-body .exercise-body-right{
        padding-right: 8px;
    }
}