.loading-container{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 15;
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.loading-container img{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 87px;
    transform: translate(-50%, -50%);
}