.carousel-container{
    width: 100%;
    margin: auto;
    position: relative;

}
.carousel-wrapper{
    width: 100%;
    margin: auto;
    position: relative;
    border-right: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    overflow: hidden;
}

.carousel-course{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: all 0.5s;
}

.arrow-control{
    position: absolute;
    top:50%;
   border-radius: 50%;
   color: #007791;
   background-color: white;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
   display: inline-block;
   width: 50px;
   height: 50px;
   font-size: 32px;
   text-align: center;
   vertical-align: middle;
   z-index: 6;
   cursor: pointer;
}
.arrow-control:hover{
    transition: all 0.4s;
    box-shadow: 0 0 1px 3px rgba(20,23,28,.1), 0 3px 3px 0 rgba(20,23,28,.1);
}
.arrow-control-left{
    left: 0;
    transform: translate(-50%,-50%);
}
.arrow-control-right{
    right: 0;
    transform: translate(50%,-50%);
}