.footer{
    margin-top: 30px;
    border-top: solid 1px #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 6px solid #ec5252;
    padding: 20px ;
}
.logo-footer img{
    height: 60px;
    width: auto;
}
.footer ul{
    list-style: none;
    padding: 0;
  
}

@media screen and (max-width: 700px)
{
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
}