.new-course-container{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.3s;
}
.new-course-wraper{
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 15;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
.new-course-form{
    border-radius: 10px;
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    background-color: white;
    z-index: 16;
}
.new-course-form .title{
    text-align: center;
    background-color: #ec5252;
    color:white;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.new-course-form .title .text-title{
    flex: 1;
    font-weight: 600;
    font-size: 17px;
}
.new-course-form .close-icon{
    color: white;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    align-self: flex-end;
}
.new-course-form .close-icon:hover{
    color:red;
    transition: all 0.3s;
}

.new-course-form .form-group{
    padding: 20px 40px;
}
.new-course-form .form-group input , .new-course-form .form-group select , .new-course-form .form-group textarea, .new-course-form .form-group button{
    margin-top: 15px;
}

@media screen and (max-width: 600px)
{
    .new-course-form{
        width: 100%;
    }
    .new-course-form .form-group{
        padding: 10px 20px;
    }
}