.course-container{
    position: relative;
}
.course-container .course-banner{
    background-color: #2d3e5a;
    color: #fffffff2;
}
.banner-content{
    width:60%;
    padding: 10px 20px 55px 50px;
}

/*.box-course-right*/
.box-course-right{
    position: absolute;
    right: 50px;
    top:70px;
    width:300px;
    overflow: hidden;
    background-color: white;
   box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    padding:4px;
    border-radius: 5px;
}
.box-course-right .box-course-thumbnail{
    position: relative;
    cursor: pointer;
}
.box-course-right .box-course-thumbnail img{
    width:100%;
    height: auto;

}
.box-course-right .box-course-thumbnail:hover span.box-course-play{
    padding: 30px 30px 30px 33px;
    font-size: 35px;
    transition: all ease-in-out 0.2s;
   
}
span.box-course-play{
    color:white;
    font-size: 30px;
    position: absolute;
    top:50%;
    left:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
    padding: 20px 20px 20px 23px;
    
}
.thumbnail-label{
    position: absolute;
    bottom: 10px;
    color:white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 7px #2d3e5a;
}
.box-course-content{
    padding: 10px;
}
.box-course-content > div , .box-course-content > ul{
    margin: 15px 0;
}
.box-course-price .old-price{
    text-decoration: line-through;
    color: #2d3e5a;
    font-size: 20px;
}
.box-course-price .new-price{
    color: #2d3e5a;
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
}
ul.box-course-info {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
ul.box-course-info li:first-child{
    font-weight: 600;
    font-size: 15px;
}
ul.box-course-info li{
    font-size: 13px;
}

/*what-you-get*/
.what-you-get{
    margin-top: 30px;
    width: 65%;
    padding: 20px;
    margin-left: 50px;
    border: solid 1px #cccccc;
    background-color: #f9f9f9;
    border-radius: 4px;
}
.what-you-get_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
}
.what-you-get_content .what-you-get_item{
    width: 45%;
}
.what-you-get_content .what-you-get_item > span{
    margin-right: 10px;
    color: #2d3e5a;
}
/**/

/*collapse-lesson-section*/
.collapse-lesson-section{
    width:93%;
    margin: auto;
}
/**/

@media screen and (max-width: 1200px){
    .what-you-get{
        width: 60%;
    }
}

@media screen and (max-width: 1000px){
    .what-you-get{
        width: 55%;
    }
}
@media screen and (max-width: 800px){
    .what-you-get{
        width: 45%;
    }
}

@media screen and (max-width: 600px){
    .banner-content{
        width: 100%;
    }
    .box-course-right{
        position: relative;
        width: 100%;
        top:0;
        right: 0;
        padding: 0;
        border-radius: 0;
    }
    .what-you-get{
        width: 100%;
        margin: 40px 0 0;
    }
    .collapse-lesson-section{
        width:95%;
        margin: auto;
    }
}