.top-bar{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    border-bottom: solid 1px #cccccc;
    background-color:#f7f8fa;
    color : #686f7a;
    flex: 1;
    padding: 0 30px;
}
ul.top-bar > li {
    cursor: pointer;
    padding: 8px 0;
    flex: 1;
    text-align: center;
    transition: all 0.3s;
    font-size: 14px;
    font-weight: 600;
}
ul.top-bar > li:hover{
    background-color: #cccccc;
    color: #339cad;
}